/* Figma Styles of your File */
:root {
  /* Colors */
  /* Fonts */
  --text-font-family: Inter-Regular, sans-serif;
  --text-font-size: 48px;
  --text-line-height: normal;
  --text-font-weight: 400;
  --text-font-style: normal;

  /* Effects */
}
